<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated conference -->
      <package
            uri="conference"
            class="conference.ConferencePackage"/>
   </extension>

</plugin>
